*{
	

    margin:0 ;
    padding: 0;
    

}


.navbar{
    margin: auto;
    height: 5%;
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 20px;
    width: 20vh;
    margin-left: 5vh;
}

nav{
    flex: 1;
    text-align: center;
    height: 0px;
    margin-right: 10vh;
}
nav ul li{
list-style: none;
display: inline-block;
margin-left: 60px;

}
nav ul li a{
text-decoration: none;
color: #fff;
font-size: 20px
}
nav ul li a:hover{
    display: flex;
    color :#1a1414;
    font-size: 1.3rem;
	font-weight: 500;
	transition: 0.5s;
}
.logo{
    margin-top: 20px;
    width: 20vh;
    margin-left: 5vh;
}
.icon2{
    margin-left: 50px;
    
    }
.menu-icon{
        width: 30px;
        cursor: pointer;
         margin-left:100%; 
        margin-top: 30px;
        margin-right:10px; 
}