*{
	margin: 0;
	padding: 0;

}

.navbar{
	background-color: rgb(21, 21, 54);
}
.table{
	max-width: 600px;
	font-size: 0.9em;
	margin: 20px 30%;
  
	border-collapse: collapse;
	padding: 30px;
	margin-top: 90px;
	background-color: white;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow:  0 0 20px rgb(0, 0, 0, 0.15);
	   
	   
}
.tr{
   background-color: rgb(21, 21, 54);
	color: #ffffffff;
	text-align: left;
  font-weight: bold;

}
td{
	padding: 12px 15px;
}
tr{
	border-bottom:  2px solid #ddd;
}
.table tr:last-of-type{
 border-bottom: 3px solid rgb(21, 21, 54);
}
strong{
	text-align: center;
	font-weight: bold;
	font-size: large;
}
.btn{
	background-color: rgb(21, 21, 54);
}

.action .menu{
position: absolute;
top: 60px;
right: -10px;
padding: 10px 20px;
background:rgb(224, 222, 222);
width: 200px;
box-sizing: 0 5px 25px rgba(0,0,0,0.1);
border-radius: 15px;
transition: 0.5s;

visibility: hidden;
opacity: 0;
}
.action .menu.active{
	visibility: visible;
	opacity: 1;
}
.action .menu::before{
	content: '';
	position: absolute;
	top: -4px;
	right: 18px;
	width: 20px;
	height: 20px;
	background:#fff;
	transform: rotate(45deg);
}
.action .menu h3{
width: 100%;
text-align: center;
font-size: 18px;
padding: 20px 0;
font-weight: 500;
font-size: 18px;
color: #fff;
line-height: 1.2em;

}
.action .menu-icon{
top: 0;
}
.action .menu h3 span{
font-size: 14px;
color : #000;
font-weight: 400;
}
.action .menu ul li{
list-style: none;
padding: 10px 0;
border-top: 2px solid rgba(0,0,0,0.05);
display:  flex;
align-items: center;
}
.action .menu ul li img{
max-width: 20px;
margin-right: 20px;
opacity: 0.3;
transition: 0.5s;
}
.action .menu ul li:hover img{
opacity: 1;
}
.action .menu ul li a{
display: inline-block;
text-decoration: none;
color :rgb(99, 97, 97);
font-weight: 500;
transition: 0.5s;
}

h1{
	font-size: 2.6rem;
}  

@keyframes drop {
0%{
	overflow: 0;
	transform: translateY(-10px);
}100%{
	overflow: 1;
	transform: translateY(0px);
}
} 